work
vendor
.idea
.DS_Store
*.phar
*.swp
*_old*
watch.rb
src/Database/Config.php
src/Database/Connection.php

.htaccess
.htpasswd
citaten.sql

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
bin/
old/

###< symfony/framework-bundle ###
