work
vendor
.idea
.DS_Store
*.phar
*.swp
*_old*
watch.rb
src/db/Config.php
src/db/Connection.php

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
bin/
old/

###< symfony/framework-bundle ###
